* {
  margin: 0;
  padding: 0;
}
html, body {
  background: white;
  color: black;
  margin:0;
  width: 100%;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 14px;
}

#about {
  color: #DCBFEE;
}
.clearfix {
  clear:both;
}
.container {
  min-height: 100%;
}
/*Nav styles*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}
.right-side {
  display: flex;
}
.nav-wrapper> .left-side >div {
  margin-right: 20px;
  font-size: 1.5em;
}
.nav-link-wrapper-brand a {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-wrapper> .right-side > div  {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}
.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
.nav-link-wrapper a {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link-wrapper:hover {
  border-bottom:1px solid black;
}
.nav-link-wrapper a:hover {
  color: #8a8a8a;
}
.title {
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 38px
}
/*Footer style*/
footer {
  font-size: 12px;
  display: block;
  background-color: black;
  text-align: center;
  color:white;
  padding: 30px;
}

@media only screen and (max-width: 600px)  {
  body {
    font-size: 12px;
  }
  .title {
  font-size: 1.17em;
  }
}